<h1>Greetings Admin User</h1>

<h2>What action do you wish to perform?</h2>
<ul class="list-unstyled">
  <li>@Html.ActionLink("Add New Brand", "AddBrand", "Admin")</li>
  <li>@Html.ActionLink("Remove Existing Brand", "RemoveBrand", "Admin")</li>
  <li>@Html.ActionLink("Add New Product", "AddLaptop", "Admin")</li>
  <li>@Html.ActionLink("Remove Existing Product", "RemoveProduct", "Admin")</li>
</ul>