<div class="text-center">
  <h1 class="display-4 font-weight-bolder">Welcome to the Fantastic Laptop Supplier!</h1>

  <h3>Please select an option from the navigation bar to get started!</h3>
  @*<div>
      <p class="font-weight-lighter">font-weight-lighter</p>
      <p class="text-danger">text-danger</p>
      <p class="text-dark">text-dark</p>
      <p class="text-info">text-info</p>
      <p class="text-light">text-light</p>
      <p class="text-sm-center">text-sm-center</p>
      <p class="text-monospace">text-monospace</p>
      <p class="text-muted">text-muted</p>
      <p class="text-primary">text-primary</p>
      <p class="text-secondary">text-secondary</p>
      <p class="text-warning">text-warning</p>
      <p class="bg-dark">bg-dark</p>
      <p class="bg-light">bg-light</p>
      <p class="bg-primary">bg-primary</p>
      <p class="bg-secondary">bg-secondary</p>
      <p class="bg-danger">bg-danger</p>
      <p class="bg-transparent">bg-transparent</p>
      <p class="bg-info">bg-info</p>
      <p class="bg-success">bg-success</p>
      <p class="btn-outline-light">btn-outline-light</p>
      <p class="btn-outline-dark">btn-outline-dark</p>
      <div class="border border-primary">primary</div>
      <div class="border border-secondary">secondray</div>
      <div class="border border-success">success</div>
      <div class="border border-danger">danger</div>
      <div class="border border-warning">warning</div>
      <div class="border border-info">info</div>
      <div class="border border-light">light</div>
      <div class="border border-dark">dark</div>
      <div class="border border-white">white</div>
      <div class="border-0">0</div>
      <div class="border-top-0">top-0</div>
      <div class="border-right-0">right-0</div>
      <div class="border-bottom-0">bottom-0</div>
      <div class="border-left-0">left-0</div>
      <mark>mark (tag)</mark>
    </div>*@
</div>
