@{
  ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>By using our site you agree that we are free to use any personal details you provide us, whether intentionally or not, for any purpose we desire.</p>
